.modal-product{
   background-color: #FFF;
   width: 100%;
   min-height: 100%;
   padding: 32px 10px;
   /* display: flex; */
}
.modal-product_container{
   max-width: 300px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}
.modal-product_title {
   font-weight: 600;
   font-size: 28px;
   line-height: 120%;
   margin-bottom: 12px;
}

.modal-product_image {
   width: 100%;
   border-radius: 16px;
   margin-bottom: 16px;
}
.modal-product_description {
   font-size: 12px;
   line-height: 130%;
   margin-bottom: 10px;
}
.modal-product_content{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}
.modal-product_ingredients {
   flex-grow: 1;
   margin-bottom: 10px;
}


.modal-product_add {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 8px;
   margin-bottom: 16px;
}
.modal-product_btn {
   flex-grow: 1;
   padding: 9px;
   background-color:#FF7020;
   border-radius: 8px;
   font-size: 12px;
   line-height: 100%;
   color: #FFF;

}

.modal-product_price {
   text-align: right;
   font-weight: 600;
   font-size: 16px;
   line-height: 130%;
}
.ingredients_title {
   font-weight: 600;
   font-size: 10px;
   line-height: 130%;
   margin-bottom: 4px;
}
.ingredients_list{
   font-size: 10px;
   line-height: 130%;
   margin-bottom: 4px;
}
.ingredients_item{
   margin-bottom: 2px;
}
.ingredients_item:last-child{
   margin-bottom: 0;
}
.ingrediens_calories {
   font-size: 10px;
   line-height: 130%;
   color: #B1B1B1;
}
